<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE todoLIst</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <ul>
            <li v-for="(todo, index) in todosList">
               <span>{{todo.text}}</span> - <span @click="deleteTodo(index)" style="color:red"> &cross;</span>
            </li>
        </ul>
        <hr>
        <input v-model="newTodo.text" type="text" placeholder="new item" @keyup.enter="addTodo()">
        <button @click="addTodo()">ADD</button>
    </div>




    <script src="js/script.js"></script>
</body>
</html>